{% extends 'default.html.twig' %}
{% block Form %}
    <div class="container" style="color: white">
        <h1> Medicijn {{ naam }}</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-dark">edit</button>
        {{ form_end(form) }}
    </div>
{% endblock %}